/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    //caution this will block text fields in safari
    user-select: none;
    box-sizing: border-box;
}

body[dir='rtl'] {
    mat-icon {
        transform: rotateY(180deg);
    }
}
